[submodule "submodules/cctbx_project"]
	path = modules/cctbx_project
	url = https://github.com/cctbx/cctbx_project.git
[submodule "modules/cbflib"]
	path = modules/cbflib
	url = https://github.com/yayahjb/cbflib.git
[submodule "modules/dxtbx"]
	path = modules/dxtbx
	url = https://github.com/cctbx/dxtbx.git
